body {
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  font-size: 1.6rem;
}

h1{
  font-size: 7rem;
}


.head{
  width: 110%;
  margin: 2rem auto;
  padding-left: 100px; 
  font-size: 4rem;
}
.tail{
  margin-left: 70%;
  margin-bottom: 40%;
  width: 100%;
  font-size: 2rem;
}



.App{
  width: 100%;
  height: 160vh;
  position: relative;
  background-color: rgba(0,0,0,0.4);
  color: #fff;

}

.App:before {
  content: '';
  background: url('./assets/storm.jpg') no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.Large_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: #fff solid; */
}

.container{
  /* max-width: 700px; */
  width: 700px;
  height: 700px;
  /* margin: auto; */
  margin-left: 20px;
  padding: 0.1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: red solid; */
}

.App .top{
  width: 100%;
  margin: 1rem auto;
  padding-left: 100px;
}

.App .description{
  display: flex;
  position: relative;
  /* right: -50%; */
}

.App .bottom{
 
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255,255,255,0.2);

}

.App .search {
  text-align: center;
  padding: 1rem;
  padding-top: 3rem;
}

.App input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255, 0.8);
  background: rgba(255,255,255, 0.1);
  color: #f8f8f8;
}

::placeholder {
  color: #f8f8f8;
}

.temp2{
  display: flex;
  flex-direction: row;
  align-items: center;
 
}

.ct{
 /* font-size: 3.6rem; */
 margin-top: 5%;
 margin-left: 10%;
}

.weather-icon{
  background-color: rgba(255,255,255,0.2);
  border-radius: 25px;
  
}

.location {
  display: flex;
}

.font{
  font-size: 2.6rem;
  margin-top: 1.5%;
  margin-left: 3%;
}